/*
 * PolymerThemes v1.0.3
 * Homepage: https://polymerthemes.com
 * Copyright 2015 Polymer Themes
 * Licensed under BSD
 * Based on Polymer: http://www.polymer-project.org/
 * Compatible with Polymer 1.0
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 16px; }

html, body { margin: 0px; padding: 0px; min-height: 100%; color: #191919; font-weight: 400; }

section { padding: 40px 0px; }
section[hero] { background-color: #f1f1f1; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; margin: 0px; padding: 0px; line-height: 1em; }

h1 {margin: 30px 0px; }

h2 { color: #191919; margin: 20px 0px; }

h3 { margin: 16px 0px; }


a, a:active, a:visited, a:focus { color: #191919; text-decoration: none; }

a:hover { color: #191919; text-decoration: underline; }
ul{list-style: none; padding-left: 0; margin-left:  0;}

/*:root { --default-primary-color: #191919; --dark-primary-color: #191919; --light-primary-color: #c5cae9; --text-primary-color: #ffffff; --accent-color: #ff4081; --primary-background-color: #ffffff; --primary-text-color: #191919; --secondary-text-color: #191919; --disabled-text-color: #313238; --divider-color: #e0e0e0; --paper-checkbox-checked-color: #191919; --paper-checkbox-checked-ink-color: #191919; --paper-checkbox-unchecked-color: #191919; --paper-checkbox-unchecked-ink-color: #191919; --paper-checkbox-label-color: #191919; --paper-fab-background: #191919; --paper-fab-disabled-background: #afb1b9; --paper-fab-disabled-text: #313238; --paper-icon-button-disabled-text: #afb1b9; --paper-input-container-color: #7f7f7f; --paper-input-container-focus-color: #191919; --paper-input-container-invalid-color: #ef5350; --paper-input-container-input-color: #7f7f7f; --paper-menu-background-color: #f1f1f1; --paper-menu-color: #191919; --paper-menu-disabled-color: #afb1b9; --paper-progress-active-color: #191919; --paper-progress-secondary-color: #1e88e5; --paper-radio-button-checked-color: #191919; --paper-radio-button-checked-ink-color: #b2b2b2; --paper-radio-button-unchecked-color: #191919; --paper-radio-button-unchecked-ink-color: #191919; --paper-radio-button-label-color: #191919; --paper-slider-knob-color: #191919; --paper-slider-active-color: #191919; --paper-slider-pin-color: #191919; --paper-spinner-layer-1-color: #191919; --paper-spinner-layer-2-color: #191919; --paper-spinner-layer-3-color: #191919; --paper-spinner-layer-4-color: #191919; --paper-tabs-selection-bar-color: #80cbc4; --paper-tab-ink: #80cbc4; --paper-toggle-button-checked-bar-color: #191919; --paper-toggle-button-checked-button-color: #191919; --paper-toggle-button-checked-ink-color: #191919; --paper-toggle-button-unchecked-bar-color: #191919; --paper-toggle-button-unchecked-button-color: white; --paper-toggle-button-unchecked-ink-color: white; --paper-toolbar-background: #191919; --paper-toolbar-color: #ffffff; }*/

paper-toolbar a, paper-toolbar a:hover, paper-toolbar a:active, paper-toolbar a:visited, paper-toolbar a:focus { color: #ffffff; }

paper-button.primary, paper-button.btn-primary, paper-button[primary] { color: #191919; }
paper-button.primary[raised], paper-button.btn-primary[raised], paper-button[primary][raised] { background-color: #191919; color: #fff; }
paper-button.secondary, paper-button.btn-secondary, paper-button[secondary] { color: #1e88e5; }
paper-button.secondary[raised], paper-button.btn-secondary[raised], paper-button[secondary][raised] { background-color: #1e88e5; color: #fff; }
paper-button.success, paper-button.btn-success, paper-button[success] { color: #8bc34a; }
paper-button.success[raised], paper-button.btn-success[raised], paper-button[success][raised] { background-color: #8bc34a; color: #fff; }
paper-button.info, paper-button.btn-info, paper-button[info] { color: #fadd60; }
paper-button.info[raised], paper-button.btn-info[raised], paper-button[info][raised] { background-color: #fadd60; color: #4b421d; }
paper-button.warning, paper-button.btn-warning, paper-button[warning] { color: #ffb74d; }
paper-button.warning[raised], paper-button.btn-warning[raised], paper-button[warning][raised] { background-color: #ffb74d; color: #4d3717; }
paper-button.error, paper-button.btn-error, paper-button[error] { color: #ef5350; }
paper-button.error[raised], paper-button.btn-error[raised], paper-button[error][raised] { background-color: #ef5350; color: #481918; }
paper-button.link, paper-button.btn-link, paper-button[link] { text-decoration: underline; }
paper-button[raised] { color: #191919; }
paper-button[disabled] { color: #313238 !important; background: #afb1b9 !important; }

paper-icon-button.primary, paper-icon-button.btn-primary, paper-icon-button[primary] { color: #191919; }
paper-icon-button.primary:hover, paper-icon-button.btn-primary:hover, paper-icon-button[primary]:hover { background-color: #e8e8e8; background-color: rgba(25, 25, 25, 0.2); border-radius: 50%; }
paper-icon-button.secondary, paper-icon-button.btn-secondary, paper-icon-button[secondary] { color: #1e88e5; }
paper-icon-button.secondary:hover, paper-icon-button.btn-secondary:hover, paper-icon-button[secondary]:hover { background-color: #e9f3fc; background-color: rgba(30, 136, 229, 0.2); border-radius: 50%; }
paper-icon-button.success, paper-icon-button.btn-success, paper-icon-button[success] { color: #8bc34a; }
paper-icon-button.success:hover, paper-icon-button.btn-success:hover, paper-icon-button[success]:hover { background-color: #f3f9ed; background-color: rgba(139, 195, 74, 0.2); border-radius: 50%; }
paper-icon-button.info, paper-icon-button.btn-info, paper-icon-button[info] { color: #fadd60; }
paper-icon-button.info:hover, paper-icon-button.btn-info:hover, paper-icon-button[info]:hover { background-color: #fffcef; background-color: rgba(250, 221, 96, 0.2); border-radius: 50%; }
paper-icon-button.warning, paper-icon-button.btn-warning, paper-icon-button[warning] { color: #ffb74d; }
paper-icon-button.warning:hover, paper-icon-button.btn-warning:hover, paper-icon-button[warning]:hover { background-color: #fff8ed; background-color: rgba(255, 183, 77, 0.2); border-radius: 50%; }
paper-icon-button.error, paper-icon-button.btn-error, paper-icon-button[error] { color: #ef5350; }
paper-icon-button.error:hover, paper-icon-button.btn-error:hover, paper-icon-button[error]:hover { background-color: #fdeeee; background-color: rgba(239, 83, 80, 0.2); border-radius: 50%; }

paper-checkbox #checkmark.paper-checkbox, paper-checkbox /deep/, paper-checkbox::shadow #checkmark.paper-checkbox { border-color: #fff !important; }

paper-dialog { color: #191919; background-color: #ffffff; font-weight: 400; }
paper-dialog h1, paper-dialog h2, paper-dialog h3, paper-dialog h4, paper-dialog h5, paper-dialog h6 { overflow: visible; padding: 0 1em; text-align: center; }

paper-fab { --text-primary-color: white; }

paper-fab { background-color: #191919; color: #fff; --paper-fab-keyboard-focus-background: #595959; }
paper-fab.primary, paper-fab.btn-primary, paper-fab[primary] { background-color: #191919; color: #fff; --paper-fab-keyboard-focus-background: #595959; }
paper-fab.secondary, paper-fab.btn-secondary, paper-fab[secondary] { background-color: #1e88e5; color: #fff; --paper-fab-keyboard-focus-background: #0e4576; }
paper-fab.success, paper-fab.btn-success, paper-fab[success] { background-color: #8bc34a; color: #fff; --paper-fab-keyboard-focus-background: #496a23; }
paper-fab.info, paper-fab.btn-info, paper-fab[info] { background-color: #fadd60; color: #4b421d; --paper-fab-keyboard-focus-background: #d4ad07; }
paper-fab.warning, paper-fab.btn-warning, paper-fab[warning] { background-color: #ffb74d; color: #4d3717; --paper-fab-keyboard-focus-background: #cd7a00; }
paper-fab.error, paper-fab.btn-error, paper-fab[error] { background-color: #ef5350; color: #481918; --paper-fab-keyboard-focus-background: #af1310; }
paper-fab[disabled] { color: #313238 !important; background: #afb1b9 !important; }

paper-card.post-card{margin-bottom: 15px;}
paper-card.post-card .title-text { background-color: rgba(255, 255, 255, 0.5); padding: 5px !important; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
.paper-card-0 {background-color: #ffffff;}

section.hero paper-menu, section[hero] paper-menu { --paper-menu-background-color: #f1f1f1; }

paper-tabs { background-color: #191919; color: #ffffff; }

.polymer-top-menu,.polymer-footer-menu{list-style:none;padding:0}
.polymer-top-menu li:not(.menu-item-has-children){display:flex;}
.polymer-top-menu li{align-items:center;color:#111;font-size:14px;font-weight:400;line-height:24px;min-height:48px;padding:0 16px;text-decoration:none;text-rendering:optimizelegibility}
paper-menu iron-icon:not([style-scope]):not(.style-scope){margin-right:13px;opacity:.54}
.search-input-wrapper{display:inline-block;height:auto;justify-content:center;width:70%;margin-right:5px}
.search-button-wrapper{float:right;display:inline-block;height:auto;justify-content:center;overflow:hidden;width:20%;}
.page-title{padding-left:30px;padding-right:30px}
.meta{font-style:italic}
.footer-media-links.pw-footer{padding:10px}
.social-media-icons .social-media-icons-0{margin:0 15px}
.header-social-media-icons .social-media-icons-0{margin:0 5px}
.search-input-wrapper .floated-label-placeholder{display:none}
.widget{padding:5px 16px}
ol.comment-list{list-style:none;padding-left:0}
.comment-respond{max-width:800px}
paper-menu.paper-menu-0.footer-links{background:none}
#headerContainer{z-index:999}
#paperDrawerPanel #drawer{z-index: 1000}
iron-grid.footer{padding-bottom: 10px;}
iron-grid.footer paper-material{height: 100%;}
#contact-form-wrapper{max-width: 800px; margin-left: 5px;}
.aries-polymer-success{background-color: green;}
.aries-polymer-error{background-color: crimson;}
.paper-button-wrapper{padding: 0; border: 0; background: none; margin-top: 20px; cursor: pointer;}
.copyright.pw-footer {padding: 10px; font-size: 16px;}
.content-two-col{display: flex; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end;}
.sidebar-right-col{display: block; position: relative; overflow-x: hidden; overflow-y: auto; margin-top: 20px;}

paper-material:not([style-scope]):not(.style-scope), .paper-card-0 {background: none !important;}
.footer-line{ width: 100%; height: 50px; display: block; border-bottom: 1px solid}
.footer-links-title{margin-left: 40px;}
iron-grid.footer{
    overflow: hidden;
}

.paper-menu .selectable-content{
    background-color: transparent;
}
@media all and (min-width: 1000px) {
    .content-left-col{width: calc(100% - 200px);}
    .sidebar-right-col{ width: 200px;}
}
@media all and (min-width: 1200px) {
    .content-left-col{width: calc(100% - 300px);}
    .sidebar-right-col{ width: 300px;}
}
@media all and (max-width: 1000px) {
    .sidebar-right-col{display: none;}
}
blockquote p:before { content: ' „ ' ' '; color: gray; font-family: Georgia, serif; }
blockquote p:after { content: ' ' ' “ '; color: gray; font-family: Georgia, serif; }

@media all and (max-width: 600px) {
    #mainToolbar .middle-container.logo-wrapper:not([style-scope]):not(.style-scope) {
        margin-left: 30px;
    }
    /*paper-card.post-card{width: 80%;}*/
}
@media all and (max-width: 600px) {
    .social-media-icons .social-media-icons-0 {margin: 0 10px 0;}
    .social-media-icons .social-media-icons-0  svg{width: 24px !important; height:  24px !important;}
    .header-social-media-icons .social-media-icons-0 {margin: 0 2px 0;}
    .header-social-media-icons .social-media-icons-0 svg{ width: 16px !important; height:  16px !important;}
}
